---
import "../styles/global.css";
import Navigation from "../components/navigation.astro";
const pageTitle = "Home page";
const themes = ["cupcake", "dark"];
const actualTheme = "cupcake";

const changeTheme = () => {
  console.log(actualTheme);
  return actualTheme === "cupcake" ? "cupcake" : "dark";
};
---

<html lang="en" data-theme={actualTheme}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="navbar bg-base-100">
      <a class="btn btn-ghost text-xl">daisyUI</a>
      <Navigation />
    </div>
    <h1>{pageTitle}</h1>
    <h1>My Astro Site</h1>
    <button class="btn btn-ghost" onclick="changeTheme"> dark</button>
  </body>
</html>
